body{

}
.l-main{
padding-left: 250px;
position: relative;
overflow-x: hidden;
}


.l-main__switch-content{
    position: relative;
    z-index: 1;
  
    

}

input[type="radio"]{
    display: none;
}
input[type="radio"]#about:checked  ~ .c-about{
left: 0px;
height: auto;



}
input[type="radio"]#projects:checked  ~ .c-projects{
    
left: 0px;

}

input[type="radio"]#projects:checked  ~ .c-projects .c-user-informations__skills{
    
display: none;
    
    }
input[type="radio"]#contact:checked  ~ .c-contacts{
    
    
left: 0px;
}




.l-aside{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: fixed;
border-right: 1px solid #333;
background-color: #c8cdf8;
min-height: 100vh;
width: 250px;
z-index: 99;
top: 0%;
left: 0%;
transition: all .5s ;

text-transform: capitalize;
}

.l-aside__title{
position: absolute;
top: 50px;
font-size: 3.5rem;
font-family: var(--main--title);
color:#000 ;

text-transform: uppercase;
/* text-shadow: 2px 2px rgba(0, 0, 0, 0.137); */
font-weight: 300;


}

.l-aside__icon-list{
font-size: 2rem;


}
.l-aside__icon-list-item:not(:last-child){
margin-right: 15px;
}

.l-aside__title::before{
content: '';
position: absolute;
height: 30px;
width: 30px;
top: 30px;
left: -35px;
border-left: 2px solid #000;
border-bottom: 2px solid #000;


}
.l-aside__title::after{
content: '';
position: absolute;
height: 30px;
width: 30px;
bottom: 30px;
right: -35px;
border-right: 2px solid #000;
border-top: 2px solid #000;



}

#s-aside__menu-toggler{
display: none;
}

.s-aside__menu-toggler{
display: none;


height: 30px;
width: 30px;
background-color: #4F29D9;
border-radius: 5px;
position: fixed;
top: 10px;
left: 260px;
z-index:99;
align-items: center;
justify-content: center;
}

.s-aside__menu-toggler span{
height: 2px;
width: 18px;
background-color: #fff;
position: relative;
}
.s-aside__menu-toggler span::before{
content:'' ;
position: absolute;
top: 6px;
z-index: 99;
height: 2px;
width: 18px;
background-color: #fff;

}
.s-aside__menu-toggler span::after{
content:'' ;
position: absolute;
top: -6px;
height: 2px;
width: 18px;
z-index: 99;
background-color: #fff;

}




.c-main-menu{
font-size: 1.6rem;
display: flex;
font-weight: 300;
align-items: center;
justify-content: flex-end;


height: 450px;

}
.c-menu-item__projects{
position: relative;
}

.s-main-menu a {
color: #000
}

.s-main-menu a:hover{
color: #04304D;
}
.c-menu__item:not(:first-child){
margin-top: 10px;

}
.c-menu__item{
padding: 10px;
border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.c-menu__item label{
    cursor: pointer;
}
.c-menu__icon{

margin-right: 15px;
font-size: 1.8rem;
transition: all .1s  ease-in-out;

}

.s-main-menu a:hover .c-menu__icon , .l-aside__icon-list i:hover{
color: #525CBF;
cursor: pointer;

transform: scale(1.05);
}


.s-main-menu a:hover  .c-menu__gear{




animation-name: gear-spin;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-fill-mode: forwards;
}




/*====ASIDE ENDS====*/

/*====HOME STARTS====*/

.c-home{



display: flex;
align-items: center;
min-height: 100vh;
background-color: #D4D8FF;
z-index: 1;
color: #0e1020;
overflow: hidden;

}



.c-apresentation{ 
position: static;
display: flex;

justify-content: space-around;


height: 85vh;
    padding: 20px;
line-height: 1.5;
font-size: 1.6rem;
width: 100%;




}


.c-apresentation__intro{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
 order: 2;


}
.c-apresentation__intro h2,h3{
font-size: 3.4rem;
white-space: nowrap;

}

.c-apresentation__name , .c-apresentation__profession{
font-family:'Montserrat';
color:#262E73;
font-weight: 500;
letter-spacing: .5px;



}



.c-apresentation__btn{

color:#f2f2f2;
font-variant: small-caps;
font-size: 2rem;
font-weight:500;
margin-top: 50px;

padding: 12px 20px;
border-radius: 2px;
background-color: #525CBF ;
transition:all .3s  ease;
border-radius: 10px;



}

.c-apresentation__btn:hover{
transform: scale(1.04);
background-color: #1B1F40;
}




.c-apresentation__myself {
align-self: center;


margin-bottom: 50px;

order: 1;



}
.c-apresentation__myself img{
border-radius: 50%;
height: 250px;
width: 250px;



}




/*====HOME ENDS====*/



/*====ABOUT START====*/

.c-about{

background-color: #D4D8FF;
transition: all .2s ease-in;
position: absolute;
overflow:hidden ;
height: 100vh;
z-index: 10;
top: 0;

left: 100%;

}

.c-about__content{
   
padding: 0px 15px;


}

.c-about__title{
margin-top: 30px;


width: 100%;
padding-left: 15px;
text-transform: capitalize;
position: relative;
display: inline-block;
text-align: center;


}

.c-about__title h3::before{
background-color: #4993BF;
}








.c-about__apresentation{
flex: 0 0 100%;
max-width: 100%;
padding-right: 10px;
margin-top: var(--main-margins);


}
.c-about__apresentation h4{
font-size: 2.8rem;
font-weight: 600;

display: inline-block;}


.c-about__apresentation p {
margin-top: 15px;
font-size: 15px;
}


/*====USER INFORMATION START====*/
.c-user-informations{
display: flex;

/* border: 5px solid salmon; */
margin-top: var(--main-margins);
}

.c-user-informations__info{
flex: 0 0 60%;
max-width: 60%;
font-size: 1.4rem;

}


.c-user-informations__info span{
color: rgba(0, 0, 0, 0.85);
}



.c-user-informations__skills{
position: relative;
flex: 0 0 40%;
max-width: 40%;
font-size: 1.4rem;
animation: fade-in 3s;

}
.s-user-informations__item{

}


.s-skills:not(:first-child){
margin-top: 10px;
}
.s-skills h5{padding: 12px 0px;}


.progress{
width: 100%;
animation: charge-progress 2s;
height: 8px;
background-color: #33333362;
border-radius: 5px;
position: relative;
}

.s-progress-in{
    z-index: -1;
border-radius: 5px;
height: 100%;
animation: fade-in 1s  step-end;
background-image: linear-gradient(to right, #4993BF 10%,#525CBF );


}
.s-progress-percent{

position: absolute;
top: -25px;
right: 0%;
}
/*====USER INFORMATION END====*/


/*====USER EXPERIENCE START====*/

.s-skills__experience{
text-align: right;
padding: 15px;
}
.s-skills__experience p{
font-weight: 500;
}
.s-skills__experience span{ font-weight: 300;}

.s-progress-working{

position: absolute;
height: 30px;
width: 40px;
left: -40px;
color: #4993BF;
}
.s-progress-second-gear{
position:absolute;
left: -5px;
font-size: 1.4rem;
animation-name: spinner-reverse;

animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-fill-mode: forwards;
}
.s-progress-first-gear{
position: absolute;
font-size: 1.8rem;
top:-2px;
animation-name: gear-spin;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;

right: 10px;
}




/*====USER EXPERIENCE ENDS====*/


/*====USER ROADMAP STARTS====*/
.c-roadmap_container{
margin-top: 70px;

display: flex;
padding: 0px 15px 20px;
flex-direction: column;
}

.c-roadmap_container h2{
text-align: center;
margin: 0px auto 50px;

align-items: center;
}
.c-roadmap{

position: relative;
display: flex;
flex-direction: column;
max-width: 500px;

font-size: 1.6rem;
margin: auto;
}
.c-roadmap::before{
content: '';
position: absolute;
left: 50%;
height: 100%;
width: 3px;
border-radius: 2px;
background-image: linear-gradient(to top, #4993BF ,#205473)
}

.c-roadmap__item{
text-align: right;
padding: 0px 15px;
max-width: 50%;
}


.pos-right{
    align-self: flex-end;
text-align: left;}
/*====USER ROADMAP ENDS====*/



/*====ABOUT ENDS====*/



/*======PROJECTS STARTS======*/
.c-projects{
position: absolute;
top: 0;
left: 100%;
width: 100%;
min-height: 100vh;
z-index: 10;
display: flex;
justify-content: center;
overflow: hidden;
transition: all .2s ease-in;


}

.c-projects__title-box{
border: 2px solid black;
text-align: center;
padding: 20px;
}
.c-projects__title-box h2{
display: inline-block;
}




/*======GALERY STARTS======*/



.c-galery{



width: 100%;

}

.c-galery__filter{
position: static;
z-index: 1;
background-image: linear-gradient(-20deg, #233066 45%, #215C73 100%);;
color: #fff;
display: flex;
padding: 20px;

align-items: center;
justify-content: center;
}


.c-galery__filter-menu{
display: flex;
justify-content: center;

flex: 0 0 100%;
gap: 15px;
}

.c-filter-menu__item input{
position: absolute;
opacity: 0
;
z-index: 99;

}
.c-filter-menu__item label{
    margin-left: 5px;
    
}

.c-filter-menu__check-span{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    border-radius: 2px;
    border: 1px solid #A3B9BF;
    
}
.c-filter-menu__check-span i{
    opacity: 0
    ;
    
}
.c-filter-menu__item input:checked + .c-filter-menu__check-span i{
opacity: 1;
color: #fff;

}



/*======STORE STARTS===*/

.c-galery__store{
    position: relative;
 display: flex;
 align-items: center;
    height: 100%;
        
    
    background-image: linear-gradient(180deg,#94A4E6,#D1EAF2);


    
    
}

.c-galery__store-comming-soon{
    font-size: 4rem;
    background-color: #04304D;
    color: rgba(255, 255, 255, 0.664);
    text-align: center;
    text-transform: capitalize;
    opacity: .4;
    margin: auto;
    width: 100%;
}
/*======STORE ENS===*/


/*======GALERY ENDS======*/
/*======PROJECTS ENDS======*/



/*======CONTACTS START======*/
.c-contacts{
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: all .2s ease-in;
    overflow: hidden;
min-height: 100vh;

width: 100%;

background-color: #D4D8FF;

display: flex;
flex-direction: column;


}



.c-contacts h2::before{
background-color: #50387D;
} 

.c-contacts h2{ 
align-self: center;
margin-top: 20px;
z-index: 10;}

.c-contact-list{
display: flex;
margin: auto 0;
padding: 10px;


color: #fff;

max-height: 300px;
display: flex;
align-items: center;
justify-content: space-around;
}
.contact_item{
padding: 5px;
margin-top: 5px;
display: flex;
flex-direction: column;
justify-content: center;
flex: 0 0 30%;
height: 150px;
max-width: 30%;
background-image: linear-gradient(to bottom ,#8288B3,#545773);
line-height: 2;
font-size: 2rem;
text-align: center;
z-index: 10;
transition: all .2s linear;

box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
border-radius: 5px;
}

.contact_item:hover{
transform: scale(1.02);

}
.contact_item i{
color: #50387D;
}
.contact_item p{

font-size: 1.6rem;
}

.c-contact-list__social-media__icon a:not(:last-child){
margin-right: 15px;

}

.c-contact-list__social-media__icon a i{
color: #50387D
}
/*======CONTACTS END======*/
